*{box-sizing: border-box; font-family:'Title'; text-align: center;}
@font-face {
    font-family: "Title";
    src: url("Fonts/RezaZulmiSans.ttf");
}
div{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
#Title{  font-size: 110px; clear: both};

#ScoreTable{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}
li{
    background-color:
    rgb(252, 99, 99);
    width: 300px;
    padding: 8px;
    display: inline-block;
    text-align: left;
}
#GamersScore{
    border-radius: 5px 0px 0px 5px;
}
#DillersScore{
    border-radius: 0px 5px 5px 0px;
}
button{
    font-size: 30px;
    border-radius: 10px;
    border: 0px;
    padding: 10px;
}
#NewGame{
    background-color:rgb(255, 252, 93);
    margin-left: auto;
    margin-right:auto ;
    cursor: pointer;
}
#ButtonBlock{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
}
#More{
    background-color: #68f098;
    cursor: pointer;
    width: 170px;
}
#Enough{
    background-color: rgb(252, 99, 99);
    cursor: pointer;
    width: 170px;
}
#Winer{
    font-size: 40px;
    clear: both;
    margin-left: 33%;
    margin-top: 3%;
}
#CardsTable{
    display: inline-block;
}
#PlayersCards{
    background-color:#68f098;
    border-radius: 20px;
    height:250px;
    width: 400px;
}
#DillersCards{
    background-color: #f0d868;
    border-radius: 20px;
    height:250px;
    width: 400px;
}